<!DOCTYPE html>
<html lang="pt-br">
    <head> {% block head %}
        <title>SisDoc</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/moduleslayout/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/moduleslayout/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/moduleslayout/css/estilo.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts%}
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/jquery/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular/angular.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular/angular-scenario.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/autocomplete/jquery.autocomplete.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/default/single_page.js') }}"></script>

            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse collapse">
                        <a class="brand menu" href="#">Usuario</a>
                        <a class="brand menu" href="#">Documento</a>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container" id="content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3">
                    </div>
                    <div class="span9">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </body>
</html>
