<!DOCTYPE html>
<html lang="pt-br" ng-app="Main">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>Sistema</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/moduleslayout/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/moduleslayout/css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts%}
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/jquery/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular-1.2.12/angular.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular-1.2.12/angular-cookies.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular-1.2.12/angular-resource.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular-1.2.12/angular-sanitize.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular-1.2.12/angular-route.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/autocomplete/jquery.autocomplete.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/default/single_page.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/modulesUser/js/user/user.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/main/main.js') }}"></script>

            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% endblock %}
        {% endblock %}
    </head>
    <body ng-controller="MainController">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse collapse">
                        <a class="brand menu" href="{{path("modules.user.new")}}">Usuario</a>
                        <a class="brand menu" href="#">Documento</a>
                        <a class="brand menu" href="{{ path("path")}}">Sair</a>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <br><br>
        <div id="container-geral">
            <div class="container" id="content">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span1">
                        </div>
                        <div class="spa10" ng-view="">

                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </div>
    </body>
</html>
