<!DOCTYPE html>
<html>
  <head>
    <title>Entrar no Sistema</title>
      {% block stylesheets %}
          <link href="{{ asset('bundles/moduleslayout/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('bundles/moduleslayout/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('bundles/moduleslayout/css/estilo.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('bundles/moduleslayout/css/signin.css') }}" type="text/css" rel="stylesheet" />
      {% endblock %}
      {% block javascripts%}
          <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/jquery/jquery.js') }}"></script>
          <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular/angular.js') }}"></script>
          <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/angular/angular-scenario.js') }}"></script>
          <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
          <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/comum/single_page.js') }}"></script>
          <script type="text/javascript" src="{{ asset('bundles/moduleslayout/js/login/login.js') }}"></script>

          <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

      {% endblock %}
  </head>

  <body>
    <div class="container" ng-app="login" ng-controller="loginCtrl">

      <form class="form-signin">
        <h2 class="form-signin-heading">Entrar no Sistema</h2>
        <input type="text" placeholder="CPF" ng-model="cpf" class="span4">
        <input type="password" placeholder="Senha" ng-model="senha" class="span4">
        <label class="checkbox">
          <input type="checkbox"> Lembre-me
        </label>
          <button type="button" class="btn btn-primary" ng-click="logar()">&nbsp&nbsp&nbsp&nbsp&nbsp Logar &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
          <button type="button" class="btn btn-primary" ng-click="logar()">&nbsp&nbsp&nbsp Lembrar Senha &nbsp&nbsp&nbsp</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>